/* screen - desktop-10 */

.black-border-1px {
  border: 1px solid var(--black);
}
.desktop-10 {
  background-color: var(--white);
  background-image: url(../img/desktop---10@2x.jpg);
  background-size: 100% 100%;
  height: 1713px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}
.desktop-10 .case-studies-howkCj {
  background-color: transparent;
  color: var(--white);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: 16px;
  left: 34px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 13px;
  width: 99px;
}
.desktop-10 .contact-Ebfosa {
  background-color: transparent;
  height: auto;
  left: 308px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 103px;
}
.desktop-10 .design-Ebfosa {
  background-color: transparent;
  height: auto;
  left: 148px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 88px;
}
.desktop-10 .frame-1-C61RwL {
  background-color: transparent;
  height: 37px;
  left: 696px;
  overflow: hidden;
  position: absolute;
  top: 1624px;
  width: 48px;
}
.desktop-10 .group-130-C61RwL {
  background-color: var(--granite-gray);
  border-radius: 60px;
  height: 41px;
  left: 607px;
  position: absolute;
  top: 1179px;
  width: 165px;
}
.desktop-10 .hi-im-maka-la-tierney-C61RwL {
  background-color: transparent;
  color: var(--granite-gray);
  font-family: 'Raleway', Helvetica, Arial, serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 440px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 993px;
  width: 609px;
}
.desktop-10 .home-Ebfosa {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 76px;
}
.desktop-10 .icons8-linkedin-1-C61RwL {
  background-color: transparent;
  height: 37px;
  left: 644px;
  overflow: hidden;
  position: absolute;
  top: 1624px;
  width: 37px;
}
.desktop-10 .im-a-uxui--boulder-co-C61RwL {
  background-color: transparent;
  color: var(--granite-gray);
  font-family: 'Raleway', Helvetica, Arial, serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 440px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 1065px;
  width: 609px;
}
.desktop-10 .lets-get-in-touch-C61RwL {
  background-color: transparent;
  color: var(--lilac-luster);
  font-family: 'Mulish', Helvetica, Arial, serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 554px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 1557px;
  width: 334px;
}
.desktop-10 .makayla-C61RwL {
  background-color: transparent;
  color: var(--white);
  font-family: 'Raleway', Helvetica, Arial, serif;
  font-size: 249.4px;
  font-style: normal;
  font-weight: 800;
  height: auto;
  left: 77px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 612px;
  width: 1093px;
}
.desktop-10 .nav-C61RwL {
  background-color: transparent;
  height: 36px;
  left: 981px;
  position: absolute;
  top: 50px;
  width: 411px;
}
.desktop-10 .phoneintalk-24px-1-C61RwL {
  background-color: transparent;
  height: 42px;
  left: 754px;
  overflow: hidden;
  position: absolute;
  top: 1622px;
  width: 42px;
}
.desktop-10 .rectangle-70-C61RwL {
  background-color: var(--white);
  height: 204px;
  left: 0px;
  position: absolute;
  top: 1509px;
  width: 1440px;
}
.desktop-10 .rectangle-85-C61RwL {
  background-color: var(--white);
  height: 777px;
  left: 890px;
  position: absolute;
  top: 0px;
  width: 40px;
}
.desktop-10 .rectangle-86-C61RwL {
  background-color: var(--white);
  height: 744px;
  left: 258px;
  position: absolute;
  top: 765px;
  width: 40px;
}
.desktop-10 .vector-0O7h2p {
  background-color: transparent;
  height: 33px;
  left: 5px;
  position: absolute;
  top: 4px;
  width: 32px;
}
.desktop-10 .vector-2xtYcc {
  background-color: transparent;
  height: 1px;
  left: 21px;
  position: absolute;
  top: 21px;
  width: 1px;
}
.desktop-10 .vector-8jl8Hq {
  background-color: transparent;
  height: 38px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 38px;
}
.desktop-10 .vector-WzCX2w {
  background-color: transparent;
  height: 38px;
  left: -1px;
  position: absolute;
  top: -0px;
  width: 49px;
}
.montserrat-bold-white-24px {
  color: var(--white);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
.raleway-normal-black-34px {
  color: var(--black-2);
  font-family: 'Raleway', Helvetica, Arial, serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
}
.roboto-bold-black-12px {
  color: var(--black);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}
:root {
  --black: rgba(0,0,0,1.0);
  --black-2: rgba(3,3,3,1.0);
  --granite-gray: rgba(102,102,102,1.0);
  --lilac-luster: rgba(174,160,175,1.0);
  --white: rgba(255,255,255,1.0);
}
