/* screen - desktop-15 */

.black-border-1px {
  border: 1px solid var(--black);
}
.desktop-15 {
  background-color: transparent;
  background-image: url(../img/desktop---15@1x.png);
  background-size: 100% 100%;
  height: 5820px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}
.desktop-15 .an-easier--plan-trips-C61RwL {
  background-color: transparent;
  height: auto;
  left: 755px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 1027px;
  width: 568px;
}
.desktop-15 .an-ios-app-nd-quickly-C61RwL {
  background-color: transparent;
  height: auto;
  left: 130px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 2153px;
  width: 568px;
}
.desktop-15 .an-ios-app-nd-quickly-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 130px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 4468px;
  width: 568px;
}
.desktop-15 .camp-o-rama-C61RwL {
  background-color: transparent;
  color: rgba(173,159,175,1.0);
  font-family: 'Raleway', Helvetica, Arial, serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  height: auto;
  left: 755px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 943px;
  width: 510px;
}
.desktop-15 .case-study-C61RwL {
  background-color: transparent;
  height: 16px;
  left: 802px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1166px;
  width: 73px;
}
.desktop-15 .case-study-QxM5SU {
  background-color: transparent;
  height: 16px;
  left: 309px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 4634px;
  width: 73px;
}
.desktop-15 .case-study-VMr6Om {
  background-color: transparent;
  height: 16px;
  left: 802px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 3455px;
  width: 73px;
}
.desktop-15 .case-study-mzXdH9 {
  background-color: transparent;
  height: 16px;
  left: 178px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 2320px;
  width: 73px;
}
.desktop-15 .contact-Ebfosa {
  background-color: transparent;
  height: auto;
  left: 308px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 103px;
}
.desktop-15 .design-Ebfosa {
  background-color: transparent;
  height: auto;
  left: 148px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 88px;
}
.desktop-15 .devices2-1-C61RwL {
  background-color: transparent;
  height: 514px;
  left: -12px;
  object-fit: cover;
  position: absolute;
  top: 3118px;
  width: 750px;
}
.desktop-15 .frame-1-B08mCn {
  background-color: transparent;
  height: 37px;
  left: 142px;
  overflow: hidden;
  position: absolute;
  top: 67px;
  width: 48px;
}
.desktop-15 .group-103-C61RwL {
  background-color: transparent;
  height: 107px;
  left: 554px;
  overflow: hidden;
  position: absolute;
  top: 5665px;
  width: 334px;
}
.desktop-15 .home-Ebfosa {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 76px;
}
.desktop-15 .i-phone-xs-ups-studio-C61RwL {
  background-color: transparent;
  height: 682px;
  left: 399px;
  object-fit: cover;
  position: absolute;
  top: 1738px;
  width: 1098px;
}
.desktop-15 .i-phone-xs-ups-studio-VMr6Om {
  background-color: transparent;
  height: 670px;
  left: -84px;
  object-fit: cover;
  position: absolute;
  top: 628px;
  width: 1079px;
}
.desktop-15 .icons8-linkedin-1-B08mCn {
  background-color: transparent;
  height: 37px;
  left: 90px;
  overflow: hidden;
  position: absolute;
  top: 67px;
  width: 37px;
}
.desktop-15 .lets-get-in-touch-B08mCn {
  background-color: transparent;
  color: var(--lilac-luster);
  font-family: 'Mulish', Helvetica, Arial, serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 334px;
}
.desktop-15 .nav-C61RwL {
  background-color: transparent;
  height: 36px;
  left: 981px;
  position: absolute;
  top: 50px;
  width: 411px;
}
.desktop-15 .non-profit-e-redesign-C61RwL {
  background-color: transparent;
  height: auto;
  left: 755px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 3363px;
  width: 568px;
}
.desktop-15 .partners-C61RwL {
  background-color: transparent;
  color: rgba(173,159,175,1.0);
  font-family: 'Raleway', Helvetica, Arial, serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  height: auto;
  left: 755px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 3280px;
  width: 510px;
}
.desktop-15 .phoneintalk-24px-1-B08mCn {
  background-color: transparent;
  height: 42px;
  left: 200px;
  overflow: hidden;
  position: absolute;
  top: 65px;
  width: 42px;
}
.desktop-15 .rectangle-111-C61RwL {
  background-color: transparent;
  border-radius: 60px;
  height: 41px;
  left: 755px;
  position: absolute;
  top: 1153px;
  width: 165px;
}
.desktop-15 .rectangle-111-QxM5SU {
  background-color: transparent;
  border-radius: 60px;
  height: 41px;
  left: 261px;
  position: absolute;
  top: 4621px;
  width: 165px;
}
.desktop-15 .rectangle-111-VMr6Om {
  background-color: transparent;
  border-radius: 60px;
  height: 41px;
  left: 755px;
  position: absolute;
  top: 3443px;
  width: 165px;
}
.desktop-15 .rectangle-111-mzXdH9 {
  background-color: transparent;
  border-radius: 60px;
  height: 41px;
  left: 130px;
  position: absolute;
  top: 2308px;
  width: 165px;
}
.desktop-15 .rectangle-6-C61RwL {
  background-color: transparent;
  height: 797px;
  left: -0px;
  position: absolute;
  top: 669px;
  width: 1441px;
}
.desktop-15 .rectangle-6-QxM5SU {
  background-color: transparent;
  height: 797px;
  left: -0px;
  position: absolute;
  top: 4112px;
  width: 1441px;
}
.desktop-15 .rectangle-6-VMr6Om {
  background-color: transparent;
  height: 797px;
  left: -0px;
  position: absolute;
  top: 3005px;
  width: 1441px;
}
.desktop-15 .rectangle-6-mzXdH9 {
  background-color: transparent;
  height: 798px;
  left: -0px;
  position: absolute;
  top: 1775px;
  width: 1441px;
}
.desktop-15 .rectangle-70-C61RwL {
  background-color: var(--white);
  height: 204px;
  left: 0px;
  position: absolute;
  top: 5616px;
  width: 1440px;
}
.desktop-15 .umbrella-C61RwL {
  background-color: transparent;
  color: rgba(173,159,174,1.0);
  font-family: 'Raleway', Helvetica, Arial, serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  height: auto;
  left: 130px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 2069px;
  width: 510px;
}
.desktop-15 .umbrella-VMr6Om {
  background-color: transparent;
  color: var(--lilac-luster);
  font-family: 'Raleway', Helvetica, Arial, serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  height: auto;
  left: 130px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 4384px;
  width: 510px;
}
.desktop-15 .ux-case-studies-C61RwL {
  background-color: transparent;
  color: var(--white);
  font-family: 'Raleway', Helvetica, Arial, serif;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 331px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 262px;
  width: 755px;
}
.desktop-15 .vector-BxkJ4B {
  background-color: transparent;
  height: 32px;
  left: 5px;
  position: absolute;
  top: 5px;
  width: 32px;
}
.desktop-15 .vector-OGfoFg {
  background-color: transparent;
  height: 38px;
  left: -1px;
  position: absolute;
  top: -0px;
  width: 49px;
}
.desktop-15 .vector-gLaeOh {
  background-color: transparent;
  height: 38px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 38px;
}
.desktop-15 .vector-hywJ1g {
  background-color: transparent;
  height: 1px;
  left: 21px;
  position: absolute;
  top: 21px;
  width: 1px;
}
.desktop-15 .woman-hold-ups-studio-C61RwL {
  background-color: transparent;
  height: 853px;
  left: 529px;
  object-fit: cover;
  position: absolute;
  top: 4059px;
  width: 980px;
}
.montserrat-bold-white-24px {
  color: var(--white);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
.raleway-normal-black-34px {
  color: var(--black-2);
  font-family: 'Raleway', Helvetica, Arial, serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
}
.roboto-bold-black-12px {
  color: var(--black);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}
:root {
  --black: rgba(0,0,0,1.0);
  --black-2: rgba(3,3,3,1.0);
  --granite-gray: rgba(102,102,102,1.0);
  --lilac-luster: rgba(174,160,175,1.0);
  --white: rgba(255,255,255,1.0);
}
